.Slider-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Slider-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover !important;
}

.slick-dots {
  position: absolute;
  bottom: 15px !important;
}